<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{.Title}} – parts-db</title>
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <style>
    form {
      width: 40em;
      display: grid;
      grid-gap: 5pt;
      grid-auto-columns: max-content 20% auto min-content;
    }

    label {
      grid-column: 1 / 2;
      padding-top: 3pt;
    }

    textarea,
    input[type="text"],
    input[type="number"],
    input[type="url"] {
      font-family: inherit;
      font-size: 10pt;
      padding: 3pt;
      border: 1pt lightgray solid;
      border-radius: 3pt;
    }

    .full-width {
      grid-column: 2 / 5;
    }

  </style>
  <script src="assets/common.js"></script>
  <script>
    function mouser() {
      pn = window.prompt("Mouser P/N", "580-DA101C");
      if (pn == null)
        return;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            const response = JSON.parse(this.responseText);
            if (response.Errors.length > 0) {
              showError("Error: Response contained errors:",
                JSON.stringify(response.Errors, null, 2));
              return;
            }
            if (response.SearchResults.Parts.length === 0) {
              showError("Error: Part not found");
              return;
            }
            const data = response.SearchResults.Parts[0];
            document.getElementById("pn").value = data.ManufacturerPartNumber;
            document.getElementById("mfr").value = data.Manufacturer;
            document.getElementById("cat").value = data.Category;
            document.getElementById("desc").value = data.Description;
            const no = add_disti();
            document.getElementById("disti_name_" + no).value = "Mouser";
            document.getElementById("disti_url_" + no).value = data.ProductDetailUrl;
          } else
            showError("Error: Status " + this.status + ": " + this.statusText);
        }
      };
      xhttp.open("POST", "/mouser/v1/search/partnumber");
      const req = { SearchByPartRequest: { mouserPartNumber: pn, partSearchOptions: "Exact" } };
      xhttp.send(JSON.stringify(req));
    }
    var disti_count = 0;
    function get_disti_frag(no) {
      const frag = document.createDocumentFragment();
      var label = document.createElement("label");
      label.setAttribute("id", "disti_" + no);
      label.setAttribute("for", "disti_name_" + no);
      label.appendChild(document.createTextNode("Distributor"))
      frag.appendChild(label);
      var name = document.createElement("input");
      name.setAttribute("type", "text");
      name.setAttribute("name", "disti_name_" + no);
      name.setAttribute("id", "disti_name_" + no);
      name.setAttribute("list", "disti_list");
      name.setAttribute("placeholder", "Name");
      frag.appendChild(name);
      var url = document.createElement("input");
      url.setAttribute("type", "url");
      url.setAttribute("name", "disti_url_" + no);
      url.setAttribute("id", "disti_url_" + no);
      url.setAttribute("placeholder", "URL");
      url.setAttribute("onclick", "open_url(event, this)");
      url.setAttribute("onmousemove", "url_cursor(event, this)");
      frag.appendChild(url);
      var rm = document.createElement("input");
      rm.setAttribute("type", "button");
      rm.setAttribute("value", "❌");
      rm.setAttribute("onclick", "rm_disti(" + no + ", this)");
      frag.appendChild(rm);
      return frag;
    }
    function add_disti() {
      const form = document.getElementsByTagName("form")[0];
      const frag = get_disti_frag(++disti_count);
      const footer = document.getElementById("footer");
      form.insertBefore(frag, footer);
      return disti_count;
    }
    function rm_disti(no, btn) {
      const form = document.getElementsByTagName("form")[0];
      form.removeChild(document.getElementById("disti_" + no));
      form.removeChild(document.getElementById("disti_name_" + no));
      form.removeChild(document.getElementById("disti_url_" + no));
      form.removeChild(btn);
    }
    function open_url(event, url_field) {
      if (event.shiftKey)
        window.open(url_field.value, "_blank");
    }
    function url_cursor(event, url_field) {
      url_field.style.cursor = event.shiftKey ? "pointer" : "default";
    }
  </script>
</head>

<body>
  <h1>{{.Title}}</h1>
  <div id="error" style="display: none;" onclick="hideError(this)"></div>
  <form method="post">
    <div class="full-width">
      <input type="button" value="Mouser" onclick="mouser()" />
      <input type="button" value="Digi-Key" onclick="digikey()" disabled />
    </div>

    <label>Part ID</label>
    <input type="text" name="id" class="full-width" value="{{.PartID}}" readonly />

    <label for="pn">Part number</label>
    <input type="text" name="pn" id="pn" class="full-width" value="{{.PartNumber}}" autofocus />

    <label for="mfr">Manufacturer</label>
    <input type="text" name="manufacturer" id="mfr" class="full-width" list="mfr_list" value="{{.Manufacturer}}" />
    <datalist id="mfr_list">
      {{range .Manufacturers}}
      <option value="{{.}}">
        {{end}}
    </datalist>

    <label for="cat">Category</label>
    <input type="text" name="category" id="cat" class="full-width" list="categories" value="{{.Category}}" />
    <datalist id="categories">
      {{range .Categories}}
      <option value="{{.}}">
        {{end}}
    </datalist>

    <label for="val">Value</label>
    <input type="text" name="value" id="val" class="full-width" value="{{.Value}}" />

    <label for="package">Package</label>
    <input type="text" name="package" id="package" class="full-width" value="{{.Package}}" />

    <label for="desc">Description</label>
    <textarea name="description" id="desc" class="full-width">{{.Description}}</textarea>

    <label for="loc">Location</label>
    <input type="text" name="location" id="loc" class="full-width" list="loc_list" value="{{.Location}}" />
    <datalist id="loc_list">
      {{range .Locations}}
      <option value="{{.}}">
        {{end}}
    </datalist>

    <label for="inventory">Inventory</label>
    <input type="number" name="inventory" id="inventory" class="full-width" value="{{.Inventory}}" />

    <datalist id="disti_list">
      {{range .DistributorNames}}
      <option value="{{.}}">
        {{end}}
    </datalist>

    <div id="footer" class="full-width">
      <input type="button" value="Add Distributor" onclick="add_disti()" />
      <input type="submit" value="Submit" />
    </div>
  </form>
</body>

</html>
