{{template "pre-content.html" .}}

<div class="container-fluid">
  <h1>{{.Title}}</h1>

  <div class="alert alert-danger d-none" role="alert"></div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Part number</th scope="col">
        <th scope="col">Manufacturer</th scope="col">
        <th scope="col">Category</th>
        <th scope="col">Value</th scope="col">
        <th scope="col">Package</th scope="col">
        <th scope="col">Description</th scope="col">
        <th scope="col">Location</th>
        <th scope="col">Inventory</th scope="col">
        <th scope="col">Distributor</th scope="col">
      </tr>
    </thead>
    <tbody>
      {{range .Content}}
      <tr class="part-row" style="cursor: pointer;" data-part-id="{{.PartID}}">
        <td>{{.PartNumber}}</td>
        <td>{{.Manufacturer}}</td>
        <td>{{.Category}}</td>
        <td>
          {{if .Value}}
          {{.Value}}&#8239;{{.UnitPrefix}}{{.Unit}}
          {{end}}
        </td>
        <td>{{.Package}}</td>
        <td>{{.Description}}</td>
        <td>{{.Location}}</td>
        <td>
          <input type="number" name="inventory" class="form-control part-inventory" value="{{.Inventory}}">
        </td>
        <td>
          {{if .Distributors}}
          <ul>
            {{range .Distributors}}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{end}}
          </ul>
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

<script>
  $(".part-row").click(function() {
    const part_id = $(this).attr("data-part-id");
    location.href = "/edit?part=" + part_id;
  }).find("a, input").click(function(e) {
    e.stopImmediatePropagation();
  });

  $(".part-inventory").change(function() {
    const part_id = $(this).closest("tr").attr("data-part-id");
    const data = { "part": part_id, "qty": $(this).val() };
    $.post("/change-inventory", data).fail(function(jqXHR) {
      $(".alert-danger").text("ERROR: " + jqXHR.responseText).removeClass("d-none");
    });
  });
</script>

{{template "post-content.html" .}}
